.col-75{
    margin: auto;
    float: left;
  width: 50%;
  margin-top: 6px;
}
.DateTimeLeft{
  width : 50%;
  float:left;
  
  
  
  }
  .DateTimeRight{
    width : 50%;
    float:inline-start;
  }
  .invalid-feedback{
   
   float: right;
  }
  #open {
    
  }
  #Close{
   text-align: right;
  }
 .inline {
float: left;
}